@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.BaseViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appharbify</title>
    <link href="/Content/css/apphbify.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container"><a class="brand" href="/">Appharbify</a>
                    <ul class="nav">
                        <li class="@(Model.CurrentPage == "Home" ? "active" : "")"><a href="/">Home</a></li>
                        <li class="@(Model.CurrentPage == "Apps" ? "active" : "")"><a href="/Apps">Apps</a></li>
                        <li class="@(Model.CurrentPage == "Sites" ? "active" : "")"><a href="/Sites">Deployed Sites</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        @if (Model.IsLoggedOn)
                        {
                            <li><a href="/SignOut">Sign Out</a></li>
                        }
                        else
                        {
                            <li class="@(Model.CurrentPage == "SignIn" ? "active" : "")"><a href="/SignIn">Sign In</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @if (Model.HasErrorFlash)
        {
            <div class="alert alert-error"><a class="close" data-dismiss="alert">x</a>
                <p>@Model.ErrorFlash</p>
            </div>
        }
        @if (Model.HasSuccessFlash)
        {
            <div class="alert alert-success"><a class="close" data-dismiss="alert">x</a>
                <p>@Model.SuccessFlash</p>
            </div>
        }
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">Appharbify is open source. To contribute or add your own projects, <a href="https://github.com/csainty/Apphbify" rel="external" target="_blank">fork it on github</a>!</div>
            </div>
        </div>
    </footer>
    <script src="/Content/js/apphbify.min.js"></script>
    @RenderSection("Scripts", false)
    @if (!String.IsNullOrEmpty(Model.GoogleAnalyticsKey))
    {
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '@Model.GoogleAnalyticsKey']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    }
</body>
</html>