@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.BaseViewModel>
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AppHarbify</title>
    <meta name="description" content="Instantly deploy open source software to AppHarbor">
    <meta name="viewport" content="width=device-width">
    <link href="/Content/css/apphbify.min.css" rel="stylesheet" type="text/css" />
    <link href="/humans.txt" rel="author" type="text/plain" />
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">AppHarbify!</a>
                    <ul class="nav">
                        <li class="@(Model.CurrentPage == "Home" ? "active" : "")">
                            <a href="/">Home</a>
                        </li>
                        <li class="@(Model.CurrentPage == "Apps" ? "active" : "")">
                            <a href="/Apps">Apps</a>
                        </li>
                        <li class="@(Model.CurrentPage == "Sites" ? "active" : "")">
                            <a href="/Sites">Deployed Sites</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        @if (Model.IsLoggedOn)
                        {
                            <li>
                                <a href="/SignOut">Sign Out</a>
                            </li>
                        }
                        else
                        {
                            <li class="@(Model.CurrentPage == "SignIn" ? "active" : "")">
                                <a href="/SignIn">Sign In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @if (Model.HasErrorFlash)
        {
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">x</a>
                <p>@Model.ErrorFlash</p>
            </div>
        }
        @if (Model.HasSuccessFlash)
        {
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">x</a>
                <p>@Model.SuccessFlash</p>
            </div>
        }
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">
                    AppHarbify is open source. To contribute or add your own projects,
                    <a href="https://github.com/csainty/Apphbify" rel="external" target="_blank">fork it on GitHub</a>!
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <a href="/About">About AppHarbify</a>
                    |
                    <a href="https://trello.com/board/appharbify/4f9a781817171c492a6ef9db" rel="external" target="_blank">Trello</a>
                    |
                    <a href="https://github.com/csainty/Apphbify" rel="external" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        window.jQuery || document.write('<script type="text/javascript" src="/Content/js/jquery-1.7.2.min.js"><\/script>')
    </script>
    <script src="/Content/js/apphbify.min.js"></script>
    @RenderSection("Scripts", false)
    @if (!String.IsNullOrEmpty(Model.GoogleAnalyticsKey))
    {
        <script type="text/javascript">
            var _gaq = [['_setAccount', '@Model.GoogleAnalyticsKey'], ['_trackPageview']];
            (function (d, t) {
                var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s)
            } (document, 'script'));
        </script>
    }
</body>
</html>