@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Apphbify.ViewModels.BaseViewModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apphbify</title>
    <link href="/Content/css/apphbify.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container"><a class="brand" href="/">Apphbify</a>
                    <ul class="nav">
                        <li class="@(Model.CurrentPage == "Home" ? "active" : "")"><a href="/">Home</a></li>
                        <li class="@(Model.CurrentPage == "Apps" ? "active" : "")"><a href="/Apps">Apps</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        @if (Model.IsLoggedOn)
                        {
                            <li><a href="/SignOut">Sign Out</a></li>
                        }
                        else
                        {
                            <li class="@(Model.CurrentPage == "SignIn" ? "active" : "")"><a href="/SignIn">Sign In</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @if (Model.HasErrorFlash)
        {
            <div class="alert alert-error"><a class="close" data-dismiss="alert">x</a>
                <p>@Model.ErrorFlash</p>
            </div>
        }
        @if (Model.HasSuccessFlash)
        {
            <div class="alert alert-success"><a class="close" data-dismiss="alert">x</a>
                <p>@Model.SuccessFlash</p>
            </div>
        }
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">&copy; Apphbify 2012</div>
            </div>
        </div>
    </footer>
    <script src="/Content/js/apphbify.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>